/* Main page styling for index.html*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Actor&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Adamina&display=swap');


<style>
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
</style>


*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    margin: 0;
    padding: 0;
}
/*Header styling*/
/*First section */

#first{
    background-image: url("../Images/image1.png");
    background-size: cover;
    height: 850px;
    width:100%;
    
    
}

 nav{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
 }

 nav ul{
     margin-top: 43px;
 }


nav >ul >li{
    text-decoration: none;
    display: inline-block;
    padding: 25px;
    color: white;
   
}

#first nav ul li a:hover{
    color: #FAFF00;
}

#first nav ul li a{
    text-decoration: none;
    color: white;
}

.kwanza{
    margin-bottom: 20px;
    margin-left:105px;
    margin-top: 70px;
}

.kwanza > h1{
    font-size: 55px;
    color: #FAFF00;
    font-family:'Adamina';
    
}

.kwanza >p{
    font-size: 25px;
    color:#999DA0;
    font-family:'Poppins';
    margin-top: 85px;
}

button{
    padding: 10px;
    background-color:#FFAC12 ;
    border-radius: 10px;
    border-color:#FFAC12 ;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color: antiquewhite;
    color: aqua;
}

.black{
    border-top-right-radius: 10px; 
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-color: black;
    padding-right: 80px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;

}


/*Main content styling */

/* Second section */
#sectme{
    margin-top: 50px;
    height: 667px;
    background-color: white;
    width: 100%;
}

#sectme > .boutme{
display: flex
}

#sectme > .boutme > .leftside, .rightside{ 
    width: 50%;
}

#sectme > .boutme > .leftside{
    display: flex;
    justify-content: center;
    align-items: center;
}

#sectme > .boutme > .rightside{
    padding-left: 100px;
    padding-top: 200px;
}

h1{
    font-family: 'Actor';
    font-weight: 500;
    font-size: 60px;
}

p{
    font-size: 20px;
}

img{
 width: 675px;
height: 667px;
}

/* Third section */
#third{
    width:100%;
    height: 1400px;
    background-color:rgba(150,159, 165, 0.08);
    border: 2px rg;
    margin-bottom: 10px;
    
    
    
}

 #third .cards{
    margin:0 auto;
    max-width: 800px;
    max-height: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    font-family: "Actor";
    margin-top: 200px;
    margin-bottom:200px;
    padding-right:200px;
    padding-left: 100px;
    
    
    
}
.card{
    box-shadow: 0 0 3px rgba(0, 0 , 0 , 0.1);
}
.card_image{
    width: 366px;
    height: 244px;
    display: block;
}
.card_content{
    line-height: 2.0;
    font-size: 0.9em;
    padding: 15px;
    background: white;
}
.card_info{
    line-height: 1.5;
    padding: 30px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    background: white;
    border-bottom: 3px;
    border-color: gray;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.material-symbols-outlined{
    font-size: 0.9em;
}

 #third .two p{
     padding: 20px;
     margin-left: 140px;
     font-size: 50px;
     display: flex;
     justify-items: center;
     padding-top: 100px;
 }

 /* Footer section */

 .row{
       display: flex;


 }
 ul{
     list-style: none;
     text-decoration: none;
     color:white;
 }
 .container{
     color: white;
 }

 .footer{
         background-color: black;
         width: 100%;
         height: 500px;
        
 }
 .footer-col{
     width: 25%;
 }
 .footer h2{
     padding-left: 95px;
     padding-top: 50px;
     padding-bottom: 40px;
     font-size: 40px;
     font-weight: 300;
 }
 .footer-col h4{
     font-size: 18px;
     color: white;
     margin-bottom: 30px;
     font-weight: 500;
     width: 25%;
 }
 
 
 .footer-col ul li a{
     color: white;
     text-decoration: none;
     font-size: small;
     display: block;
     transition: all 0.3s ease;
     padding-right:100px;
     
 }
 .footer-col ul li a:hover{
     color: #FFAC12;
     padding-left:4px;
     
 }
 .footer-col .social-links a{
     display: inline-block;
     height: 40px;
     width: 40px;
     padding-top: 100px;
     margin: 0 10px 10px 0;
     color: white;
          
 }
.footer .container .row{
    padding-left: 100px;

 }
 

 